﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/shop-homepage.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Webshop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                    <li>@Html.ActionLink("Add Product", "Add", "Product")</li>
                    <li>
                        <div class="storage-switch">
                            <span>
                                Storage Type: @WebShop.Business.Implementation.StorageManager.Instance.GetStorageType().ToString()
                            </span>
                            <span class="link" id="switchStorage">Switch</span>                        
                        </div>
                       
                    </li>
                </ul>                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WebShop MB</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script>

        var notAllowedSelectValue = "-1";

        function switchStorageType() {
            window.location.href = "/Product/SwitchStorageType";
        }

        $("#switchStorage").click(function () {
            switchStorageType();
        });

        $("#switchStorageSelect").change(function () {
            if ($(this).val() != notAllowedSelectValue) {
                switchStorageType();
            }            
        });

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
