﻿@using WebShop.DTO

@model IReadOnlyList<ProductDTO>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h2>Products</h2>

<div class="row">

    @foreach (var product in Model)
    {
        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">@product.Title</div>
                <div class="panel-body">
                    <p>
                        Number: @product.Number
                    </p>                  
                    <p>
                        Price: $ @product.Price
                    </p>
                </div>
                <div class="panel-footer">
                    @if (product.Categories != null && product.Categories.Count > 0)
                    {
                        foreach (var category in product.Categories)
                        {
                            <a href="#">@category</a> <span>&nbsp;</span>
                        }
                    }
                                        
                </div>
            </div>            
        </div>
    }
</div>

